.stored-filter {
  position: relative;
  padding: .5rem 1rem;

  &:hover {
    background-color: #eee;
  }

  &.picked {
    border: 2px solid #aaa;
  }
  .actions {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row-reverse;
    svg {
      margin-left: 1rem;
      cursor: pointer;
    }
  }
  label {
    font-weight: bold;
  }
  p {
    margin: 0;
  }
}
