.root {
}

.buttonWrap {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.directory {
  white-space: nowrap;
  font-size: 13px;
}

.file {
  white-space: nowrap;
}

.caret {
  height: 7px;
}

.subItems {
  padding-left: 16px;
}

.noTitleDirectoryItem {
  padding-left: 0;
}

.title {
  cursor: pointer;
  &:hover {
    color: #666;
  }
}
.itemTitle {
  flex: 1;
}
.listItem {
  display: flex;
}
.delete {
  cursor: pointer;
  &:hover {
    color: #666;
  }
}
