.root {
  display: flex;
  flex-direction: column;
  overflow: auto;
  // text is not selectable
  user-select: none;
  min-height: 24px;
  &:not(:first-child) {
    border-top: 1px solid #ddd;
  }
}
.opened {
  min-height: 144px;
}
.title {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 0 14px;
  min-height: 120px;
}
