@import 'utilities';
.App {
  display: block;
  background-color: #ddd;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', '-apple-system', BlinkMacSystemFont, Roboto,
    'Helvetica Neue', Helvetica, Ubuntu, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

.vertical-compare-zone {
  display: flex;
  overflow: hidden;
  flex: 1;
}

.file-wrapper {
  min-width: 400px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.file-wrapper + .file-wrapper {
  margin-left: 1rem;
}

.log-header {
  box-shadow: 0 0px 14px 0px rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
}
.title {
  font-size: 20px;
  padding: 0.5rem;
  flex: 1;
}

.title input {
  font-size: 20px;
  border: none;
  width: 100%;
}

.log-filters {
  display: flex;
  height: 20px;
  margin-right: 1rem;
}

.log-filter {
  display: flex;
  margin-left: 1rem;
  align-items: center;

  label {
    margin-right: 0.5rem;
  }

  input {
    flex: 1;
  }
}

.close {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.dropzone {
  height: 100px;
}
.dropzone-hint {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 28px;
  height: 100%;
}

.ensure-hint {
  font-size: 14px;
  margin-top: 1rem;
  text-align: center;
  line-height: 1.5;
}

.List > div {
  position: relative;
}

.lines {
  flex: 1;
}
.line {
  display: flex;
  padding: 0 0.5rem;
  line-height: 14px;
  font-size: 12px;
  font-family: Menlo, Consolas, 'Courier New', monospace;
  position: relative;
}
.line b.c1 {
  background-color: rgb(255, 155, 155);
}
.line b.c2 {
  background-color: rgb(197, 255, 120);
}
.line b.c3 {
  background-color: rgb(120, 255, 188);
}
.line b.c4 {
  background-color: rgb(120, 233, 255);
}
.line b.c5 {
  background-color: rgb(120, 181, 255);
}
.line b.c6 {
  background-color: rgb(143, 120, 255);
}
.line b.c7 {
  background-color: rgb(226, 120, 255);
}
.line b.c8 {
  background-color: rgb(255, 120, 197);
}
.line b.c9 {
  background-color: rgb(255, 120, 120);
}
.line b.c10 {
  background-color: rgb(199, 96, 96);
}
.line b.c11 {
  background-color: rgb(199, 175, 96);
}
.line b.c12 {
  background-color: rgb(165, 199, 96);
}
.line b.c13 {
  background-color: rgb(104, 199, 96);
}
.line b.c14 {
  background-color: rgb(96, 199, 168);
}
.line b.c15 {
  background-color: rgb(96, 147, 199);
}
.line b.c16 {
  background-color: rgb(106, 96, 199);
}
.line b.c17 {
  background-color: rgb(182, 96, 199);
}
.line b.c18 {
  background-color: rgb(199, 96, 151);
}
.line.odd {
  background-color: #ddd;
}
.line.prev-2 {
  background-color: rgb(195, 216, 248) !important;
}
.line.prev-2.odd {
  background-color: rgb(187, 206, 235) !important;
}
.line.prev-1 {
  background-color: rgb(253, 215, 184) !important;
}
.line.prev-1.odd {
  background-color: rgb(224, 193, 168) !important;
}
.line.target {
  background-color: rgb(255, 255, 57) !important;
}
.line.target.odd {
  background-color: rgb(225, 225, 50) !important;
}

.line.selected::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgb(115, 11, 2);
}

.line.selected-1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgb(2, 115, 38);
}

.line.selected-2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgb(13, 2, 115);
}

.line-head {
  width: 2.5rem;
  min-width: 2.5rem;
  padding-right: 1rem;
  position: relative;
}

.line-mark {
  position: absolute;
  right: 4px;
  bottom: 0;
}

.pin {
  color: rgba(107, 0, 0, 0.744);
  cursor: pointer;

  &.pinned {
    color: rgb(107, 0, 0);
  }
}

.content {
  flex: 1;
  white-space: nowrap;
}

.line.current {
  background: #ddd;
}

.resizer {
  flex: 1;
  width: 100%;
}

.stored-filters button {
  margin-left: 0.5rem;
}

label {
  display: block;
}

.no-log-hint {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .content {
    width: 50%;
    max-width: 500px;
  }
}

a,
button {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
