.App {
  display: block;
  background-color: #ddd;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.vertical-compare-zone {
  display: flex;
  height: 100%;
}

.file-wrapper {
  min-width: 400px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  margin-right: 1rem;
  flex-direction: column;
  flex: 1;
}

.title {
  font-size: 20px;
  padding: 0.5rem;
  box-shadow: 0 0px 14px 0px rgb(0 0 0 / 10%);
}

.dropzone {
  height: 100px;
}

.lines {
  flex: 1;
}
.line {
  display: flex;
  width: auto !important;
  padding: 0 0.5rem;
  line-height: 24px;
}
.line.odd {
  background-color: #ddd;
}
.line.target {
  background-color: rgb(255, 255, 57) !important;
}

.count {
  width: 5rem;
  padding-right: 1rem;
}

.content {
  flex: 1;
  white-space: nowrap;
}

.line.current {
  background: #ddd;
}

.resizer {
  flex: 1;
  width: 100%;
}

.keyword-filter {
  display: flex;
  padding: 0.5rem;
}

.keyword-filter label {
  margin-right: 1rem;
}
.keyword-filter input {
  flex: 1;
}
