.App {
  display: block;
  background-color: #ddd;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", "-apple-system", BlinkMacSystemFont, Roboto,
    "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.vertical-compare-zone {
  display: flex;
  height: 100%;
}

.file-wrapper {
  min-width: 400px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  margin-right: 1rem;
  flex-direction: column;
  flex: 1;
}
.log-header {
  box-shadow: 0 0px 14px 0px rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
}
.title {
  font-size: 20px;
  padding: 0.5rem;
  flex: 1;
}

.title input {
  font-size: 20px;
  border: none;
  width: 100%;
}

.log-filters {
  display: flex;
  height: 20px;
  margin-right: 2rem;
}

.log-filter {
  display: flex;
  margin-left: 2rem;
}

.log-filter input {
  flex: 1;
}

.close {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.dropzone {
  height: 100px;
}
.dropzone-hint {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 28px;
  height: 100%;
}

.ensure-hint {
  font-size: 14px;
  margin-top: 1rem;
  text-align: center;
  line-height: 1.5;
}

.lines {
  flex: 1;
}
.line {
  display: flex;
  padding: 0 0.5rem;
  line-height: 14px;
  font-size: 12px;
  font-family: Menlo, Consolas, "Courier New", monospace;
  min-width: 5000px;
}
.line b {
  background-color: rgb(255, 155, 155);
}
.line.odd {
  background-color: #ddd;
}
.line.prev-2 {
  background-color: rgb(195, 216, 248) !important;
}
.line.prev-2.odd {
  background-color: rgb(187, 206, 235) !important;
}
.line.prev-1 {
  background-color: rgb(253, 215, 184) !important;
}
.line.prev-1.odd {
  background-color: rgb(224, 193, 168) !important;
}
.line.target {
  background-color: rgb(255, 255, 57) !important;
}
.line.target.odd {
  background-color: rgb(225, 225, 50) !important;
}

.count {
  width: 2.5rem;
  padding-right: 1rem;
}

.content {
  flex: 1;
  white-space: nowrap;
}

.line.current {
  background: #ddd;
}

.resizer {
  flex: 1;
  width: 100%;
}

.global-footer {
  display: flex;
}

.keyword-filter {
  display: flex;
  padding: 0.5rem 1rem 0.5rem;
  flex: 1;
}

label {
  margin-right: 1rem;
}
.keyword-filter input {
  flex: 1;
}

.global-highlight-keywords {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem;
}

.global-highlight-keywords input {
  width: 20rem;
}
